<%- include("template/header", {tituloWeb:'Index'})%>


<div class="text-center">  
    <h2 class="fw-bold"><%=titulo%></h2> 
    <p class="mt-5">Bienvenido al mundo de los videojuegos</p> 

    <p class="mt-5">Aquí podrás crear tu propia colección de videojuegos, añadiendo, editando y eliminando juegos.</p>
</div>  
<style>
  body{
    background-color: rgb(170, 185, 185);
  }
</style>

<%- include("template/footer")%>
